# .gitignore
.coverage
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
!.env.example
!.env.test
.venv/
venv/
dist/
build/
*.egg-info/
.idea/
.DS_Store
.langgraph/
*.db*
.gcloud/secret*
setup_webhook.sh
data/plots/*.png
sheets_sa.json
setup_webhook.sh